<ion-content fullscreen class="login-page">

  <div class="login-page__image-wrapper">
    <img
      src="assets/images/login-fitness.jpg"
      [alt]="'auth.login.image_alt' | t"
      class="login-page__image"
    />
  </div>

  <div class="login-page__card">

    <div class="login-page__header">
      <h1 class="login-page__title">{{ 'auth.login.title' | t }}</h1>
      <p class="login-page__subtitle">{{ 'auth.login.subtitle' | t }}</p>
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="login-page__form"
    >

      <ion-item lines="none" class="login-page__input">
        <ion-input
          data-testid="login-email"
          [placeholder]="'auth.login.email_placeholder' | t"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="login-page__input">
        <ion-input
          data-testid="login-password"
          type="password"
          [placeholder]="'auth.login.password_placeholder' | t"
          formControlName="password"
        ></ion-input>
      </ion-item>

      <ion-button data-testid="login-submit" expand="block" type="submit" class="login-page__button">
        {{ 'auth.login.submit' | t }}
      </ion-button>

    </form>

    <div class="login-page__divider">
      <span>{{ 'common.or' | t }}</span>
    </div>

    <ion-button expand="block" fill="outline" class="login-page__signup-btn" routerLink="/register">
      {{ 'auth.login.sign_up' | t }}
    </ion-button>

    <div class="login-page__signup" data-testid="login-signup-section">
      <span>{{ 'auth.login.no_account' | t }}</span>
      <span class="login-page__signup-link" routerLink="/register">{{ 'auth.login.sign_up' | t }}</span>
    </div>

  </div>

</ion-content>
