<ion-content fullscreen class="register-page">
  <div class="register-page__wrapper">
    <div class="register-page__header">
      <h1 class="register-page__title">{{ 'auth.register.title' | t }}</h1>
      <p class="register-page__subtitle">{{ 'auth.register.subtitle' | t }}</p>
    </div>

    <div class="register-page__image-container">
      <img
        src="assets/images/register-fitness.jpg"
        [alt]="'auth.register.image_alt' | t"
        class="register-page__image"
      />
    </div>

    <div class="register-page__card">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="register-page__form"
      >
        <ion-item lines="none" class="register-page__input">
          <ion-input
            data-testid="register-full-name"
            [placeholder]="'auth.register.full_name_placeholder' | t"
            formControlName="fullName"
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="register-page__input">
          <ion-input
            data-testid="register-email"
            [placeholder]="'auth.register.email_placeholder' | t"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="register-page__input">
          <ion-input
            data-testid="register-password"
            type="password"
            [placeholder]="'auth.register.password_placeholder' | t"
            formControlName="password"
          >
          </ion-input>
        </ion-item>

        <div class="register-page__terms">
          {{ 'auth.register.terms_prefix' | t }}
          <span class="register-page__terms-link">{{ 'auth.register.terms_link' | t }}</span>
        </div>

        <ion-button
          data-testid="register-submit"
          expand="block"
          type="submit"
          class="register-page__button"
        >
          {{ 'auth.register.submit' | t }}
        </ion-button>
      </form>

      <div class="register-page__login" data-testid="register-login-section">
        <span>{{ 'auth.register.have_account' | t }}</span>
        <span class="register-page__login-link" routerLink="/login">{{ 'auth.register.login' | t }}</span>
      </div>
    </div>
  </div>
</ion-content>
