<ion-content fullscreen class="create-exercise-page">
  <div class="create-exercise-page__wrapper">
    <header class="create-exercise-page__header">
      <button
        type="button"
        class="create-exercise-page__back-button"
        [attr.aria-label]="'common.back' | t"
        (click)="goBack()"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>

      <h1 class="create-exercise-page__title">{{ 'create_exercise.title' | t }}</h1>
    </header>

    <form
      [formGroup]="createExerciseForm"
      (ngSubmit)="onSubmit()"
      class="create-exercise-page__form"
    >
      <section class="create-exercise-page__card">
        @if (showValidationMessage) {
          <div class="create-exercise-page__message">
            {{ 'create_exercise.validation_message' | t }}
          </div>
        }

        <div class="create-exercise-page__field">
          <label class="create-exercise-page__label">{{ 'create_exercise.image_link' | t }}</label>
          <ion-item lines="none" class="create-exercise-page__input">
            <ion-icon
              name="link-outline"
              slot="start"
              class="create-exercise-page__input-icon"
            ></ion-icon>
            <ion-input
              formControlName="imageUrl"
              placeholder="https://example.com/image.jpg"
            ></ion-input>
          </ion-item>
        </div>

        <div class="create-exercise-page__field">
          <label class="create-exercise-page__label">{{ 'create_exercise.video_link' | t }}</label>
          <ion-item lines="none" class="create-exercise-page__input">
            <ion-icon
              name="link-outline"
              slot="start"
              class="create-exercise-page__input-icon"
            ></ion-icon>
            <ion-input
              formControlName="videoLink"
              placeholder="https://example.com/video"
            ></ion-input>
          </ion-item>
        </div>

        <div class="create-exercise-page__field">
          <label class="create-exercise-page__label">{{ 'create_exercise.name' | t }}</label>
          <ion-item lines="none" class="create-exercise-page__input">
            <ion-input
              formControlName="title"
              [placeholder]="'create_exercise.name_placeholder' | t"
            ></ion-input>
          </ion-item>
          @if (createExerciseForm.controls.title.touched && createExerciseForm.controls.title.invalid) {
            <p class="create-exercise-page__field-error">
              {{ 'create_exercise.name_required' | t }}
            </p>
          }
        </div>

        <div class="create-exercise-page__field">
          <label class="create-exercise-page__label">{{ 'create_exercise.primary_muscle_group' | t }}</label>
          <div class="create-exercise-page__chips">
            @for (group of muscleGroups; track group) {
              <button
                type="button"
                class="create-exercise-page__chip"
                [class.create-exercise-page__chip--active]="selectedMuscleGroup === group"
                (click)="selectMuscleGroup(group)"
              >
                {{ ('exercise.muscle_groups.' + group.toLowerCase()) | t }}
              </button>
            }
          </div>
        </div>

        <div class="create-exercise-page__field">
          <label class="create-exercise-page__label">{{ 'create_exercise.instructions' | t }}</label>
          <ion-item lines="none" class="create-exercise-page__textarea">
            <ion-textarea
              formControlName="description"
              [placeholder]="'create_exercise.instructions_placeholder' | t"
              autoGrow="true"
              rows="4"
            ></ion-textarea>
          </ion-item>
        </div>

        <div class="create-exercise-page__field">
          <label class="create-exercise-page__label">{{ 'create_exercise.equipment' | t }}</label>
          <ion-item lines="none" class="create-exercise-page__input">
            <ion-select
              formControlName="equipment"
              interface="action-sheet"
              toggleIcon="chevron-down-outline"
            >
              @for (option of equipmentOptions; track option) {
                <ion-select-option [value]="option">
                  {{ ('exercise.equipment_options.' + option.toLowerCase().replace(' ', '_')) | t }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </div>

        <div class="create-exercise-page__metrics">
          <div class="create-exercise-page__field create-exercise-page__field--metric">
            <label class="create-exercise-page__label">{{ 'create_exercise.calories' | t }}</label>
            <ion-item lines="none" class="create-exercise-page__input">
              <ion-input
                type="number"
                formControlName="calories"
                placeholder="50"
              ></ion-input>
            </ion-item>
          </div>

          <div class="create-exercise-page__field create-exercise-page__field--metric">
            <label class="create-exercise-page__label">{{ 'create_exercise.minutes' | t }}</label>
            <ion-item lines="none" class="create-exercise-page__input">
              <ion-input
                type="number"
                formControlName="durationMinutes"
                placeholder="10"
              ></ion-input>
            </ion-item>
          </div>
        </div>

        <div class="create-exercise-page__field">
          <label class="create-exercise-page__label">{{ 'create_exercise.difficulty' | t }}</label>
          <div class="create-exercise-page__chips">
            @for (difficulty of difficultyOptions; track difficulty) {
              <button
                type="button"
                class="create-exercise-page__chip"
                [class.create-exercise-page__chip--active]="createExerciseForm.value.difficulty === difficulty"
                (click)="createExerciseForm.patchValue({ difficulty: difficulty })"
              >
                {{ ('exercise.difficulty_options.' + difficulty.toLowerCase()) | t }}
              </button>
            }
          </div>
        </div>
      </section>

      <div class="create-exercise-page__footer">
        <ion-button
          expand="block"
          type="submit"
          class="create-exercise-page__submit"
          [disabled]="isSaving"
        >
          {{ isSaving ? ('create_exercise.saving' | t) : ('create_exercise.save' | t) }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
